<a href="https://colab.research.google.com/github/aadithya-sesh68/100-Days-of-Code/blob/main/SpamClassifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Sriramajayam")

Sriramajayam

In [2]:
print("Hello world")

Hello world

In [3]:
import pandas as pd

In [6]:
messages = pd.read_csv('sample_data/SMSSpamCollection',sep='\t',names=["label","message"])

In [7]:
messages

     label                                            message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham               Will ü b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [9]:
import re
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [10]:
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()
corpus=[]
for i in range(0, len(messages)):
  review = re.sub('[^a-zA-Z]',' ',messages['message'][i])
  review = review.lower()
  review = review.split()
  review = [ps.stem(word) for word in review if not word in stopwords.words('english')]
  review = ' '.join(review)
  corpus.append(review)

In [17]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000)
X = cv.fit_transform(corpus).toarray()

In [18]:
X #independent features

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [23]:
#to prevent dummy variable trap
y = pd.get_dummies(messages['label'])
y

      ham  spam
0       1     0
1       1     0
2       0     1
3       1     0
4       1     0
...   ...   ...
5567    0     1
5568    1     0
5569    1     0
5570    1     0
5571    1     0

[5572 rows x 2 columns]

In [24]:
y = y.iloc[:,1].values

In [25]:
print(y) #dependent feature

[0 0 1 ... 0 0 0]

In [26]:
#Train the ML model
from sklearn.model_selection import train_test_split
X_Train, X_Test, y_train, y_test = train_test_split(X,y, test_size=0.20, random_state=0)

In [28]:
#using Naive Bayes Classifier - works well w.r.t NLP
from sklearn.naive_bayes import MultinomialNB
spam_detect_model = MultinomialNB().fit(X_Train,y_train)

In [29]:
#Predict 
y_pred = spam_detect_model.predict(X_Test)

In [30]:
#Comparing the y_pred and y_test to know about the accuracy, we use Confusion Matrix
from sklearn.metrics import confusion_matrix
conmat = confusion_matrix(y_test,y_pred)
conmat

array([[946,   9],
       [  8, 152]])

In [32]:
#check accuracy score
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test,y_pred)
accuracy

0.9847533632286996